* {
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.image-text {
  font-family: monospace;
  font-size: 15px;
}

.generated-image {
  max-width: 50%;
  max-height: 50%;
  border: 1px solid black;
}
